<%- include('../partials/header') %>

<h1>All Flights</h1>
<table class="table table-striped">
    <thead class="thead-dark">
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Departure</th>
    </thead>
    <tbody>
        <% flights.sort(function(a, b) {return (a.departs - b.departs)}) %>
        <% flights.forEach(function(flight) { %>
        <tr>
            <td><%= flight.airline %></td>
            <td><%= flight.flightNo %></td>
            <td><%= flight.departs %></td>
        </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>

  

