<%- include('../partials/header')%>

<h1>Flight Information</h1>

<div class="form-layout">
    <label>Airline</label>
    <div><%= flight.airline %></div>
    <label>Flight Number</label>
    <div><%= flight.flightNo %></div>
    <label>Departure</label>
    <div><%= flight.departs %></div>
    <label>Airport</label>
    <div><%= flight.airport %></div>
</div>
<br><br>
<div>
    <h3>Destinations</h3>
    <% if(flight.destinations.length) { %>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Airport</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.sort(function(a, b) {return (a.arrival - b.arrival)}) %>
            <% flight.destinations.forEach(function(d) { %>
            <tr>
                <td><%= d.airport %></td>
                <td><%= d.arrival %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <h4>No Destinations Currently</h4>
    <% } %>
</div>

<form action="/flights/<%= flight._id %>/arrivals" method="POST">
    <label>Airport</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        <option value="SEA">SEA</option>
    </select>
    <label>Arrival</label>
    <input type="datetime-local" name="arrival">
    <input type="submit" value="Add Arrival">
</form>

<br><br>

<h3>Tickets</h3>
<% if(tickets.length) { %>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th> </th>
                <th>Seat</th>
                <th>Price</th>
                <th>Flight</th>
            </tr>
        </thead>
        <tbody>
            <% tickets.forEach(function(t) { %>
                <tr>
                    <td>
                        <form action="/tickets/<%= t._id %>?_method=DELETE" method = "POST" >
                            <button type="submit">X</button>
                        </form>
                    </td>
                    <td><%= t.seat %></td>
                    <td>$<%= t.price %></td>
                    <td><%= t.flight %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h4>No Tickets Currently</h4>
    <% }  %>

    <a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>


<%- include('../partials/footer')%>